{% load static %}

<div class="mt-4">
    <div class="">
        <span class=""><img src="{% static 'assets/dashboard.png' %}" alt="" class=" fs-6"><a class="ms-2 fw-bolder " href="{% url 'Student:student_dashboard' %}">Dashboard</a></span>
    </div>
    <br>
    <div class="mt-2">
        <span class=""><img src="{% static 'assets/fees.png' %}" alt="" class=""><a class="ms-2 fw-bolder " href="{% url 'Student:student_dashboard' %}">Fees Payment</a></span>
    </div>
        <br>
    <div class="mt-2">
        <span class=""><img src="{% static 'assets/result.png' %}" alt="" class=""><a class="ms-2 fw-bolder " href="{% url 'Student:student_dashboard' %}">Result</a></span>
    </div>
    <br>
    <div class="mt-2">
    
        <span class=""><img src="{% static 'assets/attendance.png' %}" alt="" class=""><a class="ms-2 fw-bold " href="{% url 'Student:student_dashboard' %}">Attendance</a></span>
    </div>
    <br>
    <div class="mt-2">
        <span class="mt-4"><img src="{% static 'assets/register.png' %}" alt="" class=""><a class="ms-2 fw-bold " href="{% url 'Student:student_dashboard' %}">Subject <br> <Span class="">Registration</Span ></span></a>
    </div>
    <br>
    <div class="mt-2">
        <span class=""><img src="{% static 'assets/timetable.png' %}" alt="" class=""><a class="ms-2 fw-bold " href="{% url 'Student:student_dashboard' %}">Timetable</a></span>
    </div>
</div>
<!-- <img src="{% static 'female_teacher.png' %}" alt="" class="stud_dashBoard_img"> -->