<span><i class="bi bi-list-check"></i><a class="ms-2" href="{% url 'multipleUserApp:admin_home' %}">Dashboard</a></span>
                <br>
<i class="bi bi-list-check"></i><a class="ms-2" href="{% url 'multipleUserApp:student_list' %}">Student list</a>
<br>
<i class="bi bi-list-check"></i><a class="ms-2" href="{% url 'multipleUserApp:teacher_list' %}">Teacher list</a>

<hr>

<i class="bi bi-node-plus-fill"></i><a class="ms-2" href="{% url 'multipleUserApp:student_register' %}">Add Student</a>
<br>
<i class="bi bi-node-plus-fill"></i><a class="ms-2" href="{% url 'multipleUserApp:teacher_register' %}">Add Teacher</a>
<br>
<i class="bi bi-node-plus-fill"></i><a class="ms-2" href="{% url 'multipleUserApp:from_file' %}">Add multiple Users</a>
<hr>

<i class="bi bi-node-plus-fill"></i><a class="ms-2" href="{% url 'CreateGroup:create_group' %}">Add Groups</a>

<br>
<i class="bi bi-node-plus-fill"></i><a class="ms-2" href="{% url 'CreateGroup:list_group' %}">List of Groups</a>
<br>